.navbar-nav{
  display: flex;
  justify-content: space-evenly;
  width: 1200px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.carousel-inner{
  width: auto;
  height: 550px;
}